

html, body, * {
    -webkit-user-select:        none;   /* Safari / Chrome on iOS */
    -ms-user-select:            none;   /* IE / Edge */
    user-select:                none;   /* Standard */
    -webkit-touch-callout:      none;   /* no "Copy/Define" popup */
}

a {
  color: inherit;          /* use surrounding text color */

}

a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;          /* keep color consistent */

}

/** STRUDEL VIS **/
canvas#test-canvas{
    z-index: 1;
}

:root{
    /* --col-body:             #ccc;
    --col-grad-0:           hsl(0,0%,85%);
    --col-grad-1:           hsl(0,0%,75%);
    --col-grad-2:           hsl(0,0%,55%);
    --col-grad-3:           hsl(0,0%,30%);
    --col-grad-4:           hsl(0,0%,15%);
    --col-grad-5:           hsl(0,0%,10%);
    --col-dark:             hsl(0,0%,0%);
    --col-light:            #fff;
    --col-highlight:        #f15a22;
    --col-highlight-alt:    rgb(35, 230, 248);

    --screen-bg:            #000;
    --pixel-0:              hsl(0, 0%, 100%);
    --pixel-1:              hsl(0, 0%, 80%);
    --pixel-2:              hsl(0, 0%, 60%);
    --pixel-3:              hsl(0, 0%, 40%);
    --pixel-4:              hsl(0, 0%, 20%); */
}

/**
 *  THEMES
 */
[data-theme="ko-ii"] {
    --col-body:             #ccc;
    --col-grad-0:           hsl(0,0%,85%);
    --col-grad-1:           hsl(0,0%,75%);
    --col-grad-2:           hsl(0,0%,55%);
    --col-grad-3:           hsl(0,0%,30%);
    --col-grad-4:           hsl(0,0%,15%);
    --col-grad-5:           hsl(0,0%,10%);
    --col-dark:             hsl(0,0%,0%);
    --col-light:            #fff;
    --col-highlight:        #f15a22;
    --col-highlight-alt:    rgb(35, 230, 248);

    --screen-bg:            #000;
    --pixel-0:              hsl(0, 0%, 100%);
    --pixel-1:              hsl(0, 0%, 80%);
    --pixel-2:              hsl(0, 0%, 60%);
    --pixel-3:              hsl(0, 0%, 40%);
    --pixel-4:              hsl(0, 0%, 20%);
}

[data-theme="rainbow"] {
    --col-body:             #ccc;
    --col-grad-0:           hsl(0,0%,85%);
    --col-grad-1:           hsl(0,0%,75%);
    --col-grad-2:           hsl(0,0%,55%);
    --col-grad-3:           hsl(0,0%,30%);
    --col-grad-4:           hsl(0,0%,15%);
    --col-grad-5:           hsl(0,0%,10%);
    --col-dark:             hsl(0,0%,0%);
    --col-light:            #fff;
    --col-highlight:        #f15a22;
    --col-highlight-alt:    rgb(35, 230, 248);

    --screen-bg:            #000;
    --pixel-0:              hsl(0, 0%, 100%);
    --pixel-1:              hsl(0, 0%, 80%);
    --pixel-2:              hsl(0, 0%, 60%);
    --pixel-3:              hsl(0, 0%, 40%);
    --pixel-4:              hsl(0, 0%, 20%);
}

[data-theme="plaid"] {
    --col-body:             #ccc;
    --col-grad-0:           hsl(0,0%,85%);
    --col-grad-1:           hsl(0,0%,75%);
    --col-grad-2:           hsl(0,0%,55%);
    --col-grad-3:           hsl(0,0%,30%);
    --col-grad-4:           hsl(0,0%,15%);
    --col-grad-5:           hsl(0,0%,10%);
    --col-dark:             hsl(0,0%,0%);
    --col-light:            #fff;
    --col-highlight:        #f15a22;
    --col-highlight-alt:    rgb(35, 230, 248);

    --screen-bg:            #000;
    --pixel-0:              hsl(0, 0%, 100%);
    --pixel-1:              hsl(0, 0%, 80%);
    --pixel-2:              hsl(0, 0%, 60%);
    --pixel-3:              hsl(0, 0%, 40%);
    --pixel-4:              hsl(0, 0%, 20%);
}

[data-theme="dfam"] {
    --col-body:             #7e7e7e;
    --col-grad-0:           hsl(0,0%,85%);
    --col-grad-1:           hsl(0,0%,75%);
    --col-grad-2:           hsl(0,0%,55%);
    --col-grad-3:           hsl(0,0%,30%);
    --col-grad-4:           hsl(0,0%,15%);
    --col-grad-5:           hsl(0,0%,10%);
    --col-dark:             hsl(0,0%,0%);
    --col-light:            #fff;
    --col-highlight:         hsl(90, 100%,40%);
    --col-highlight-alt:    rgb(35, 230, 248);

    --screen-bg:            #000000;
    --pixel-0:              hsl(90, 100%, 80%);
    --pixel-1:              hsl(90, 100%, 60%);
    --pixel-2:              hsl(90, 100%, 40%);
    --pixel-3:              hsl(90, 100%, 20%);
    --pixel-4:              hsl(90, 100%, 00%);
}


[data-theme="ko-ii"] .interface__wrapper{
    background:             var(--col-body);
}

[data-theme="rainbow"] .interface__wrapper{
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

[data-theme="plaid"] .interface__wrapper{
    background:
        repeating-linear-gradient(
            -45deg,
            transparent 0,
            transparent 25%,
            dodgerblue 0,
            dodgerblue 50%
        ),
        repeating-linear-gradient(
            45deg,
            transparent 0,
            transparent 25%,
            tomato 0,
            tomato 50%
        ),
        repeating-linear-gradient(
            transparent 0,
            transparent 25%,
            gold 0,
            gold 50%
        ), white;
    background-blend-mode: multiply;
    background-size: 100px 100px;
}

[data-theme="dfam"] .interface__wrapper{
    background:         var(--col-body);
    /* box-shadow: inset #262626 0 0px 0px 4px, inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px; */
}


    span.key{
        display:            inline-block;
        border-top:         solid 2px;
        border-left:        solid 2px;
        border-right:       solid 0.25px;
        border-bottom:      solid 0.25px;
        border-radius:      1rem;
        padding:            0rem 0.5rem;
        margin:             0rem 0;
        min-width:          1rem;
        text-align:         center;  
        font-size:          1rem;
    }
    span.key span{
        font-size:          1rem;
        margin-top:         0.5rem;
        margin-bottom:      -0.5rem;
    }